<h1>会員登録画面</h1>

<% if @user.errors.any? %>
  <div id ="error_explantion">
  <p><%= pluralize(@user.errors.count , "件") %>のエラーがあります。<p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form_border">
  <%= form_with(model: @user , local: true , url: confirm_users_path ,class:"form") do |f| %>
    <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name %>
    </div>
    <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email %>
    </div>
    <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password %>
    </div>
    <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
    </div>
    <div class="form-group">
      <%= f.submit "登録" ,class:"btn btn-default btn-xs"%>
    </div>

  <% end %>
</div>



