<% if @post.errors.any? %>
  <div id ="error_explantion">
  <h2><%= pluralize(@post.errors.count , "件") %>のエラーがあります<h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model:@post , local:true , url: choose_new_or_edit_url , class:"form post_form form_border") do |f|%>
  <div class="form_group">
    <%= f.label :title%>
    <%= f.text_field :title,class:"input_field"%>
  </div>
  <div class="form_group">
    <%= f.label :content%>
    <%= f.text_area :content,class:"input_field"%>
  </div>
  <div class="form_group">
    <%= f.label :img_path%>
    <%= f.file_field :img_path%>
  </div>
  <div class="form_group img_field">
    <%= image_tag(@post.img_path.url,class:"post_area_img") if @post.img_path && @post.img_path.url %>
    <%= f.hidden_field :img_path_cache%>
  </div>
  
<div class="btn_area">
  <%= f.submit "登録", class:"btn btn-default btn-xs"%>
  <%= link_to '戻る' , posts_path ,class:"btn btn-default btn-xs"%>
</div>
<% end %>

