<% if @post.errors.any? %>
  <div id ="error_explantion">
  <h2><%= pluralize(@post.errors.count , "error") %>あり<h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model:@post , local:true , url: choose_new_or_edit_url) do |f|%>

  <%= f.label :title%>
  <%= f.text_field :title%>

  <%= f.label :content%>
  <%= f.text_area :content%>

  <%= f.label :img_path%>
  <%= image_tag(@post.img_path.url) if @post.img_path && @post.img_path.url %>
  <%= f.file_field :img_path %>
  <%= f.hidden_field :img_path_cache%>

  <%= f.submit %>

<% end %>

<%= link_to '戻る' , posts_path %>