<h1>確認画面</h1>

<div class="form_border">
  <%= form_with(model:@post , local:true ,url: posts_path ,class:"form post_form") do |f|%>
  <div class="form-group">
    <p>タイトル:<%= @post.title %></p>
  </div>
  <div class="form-group">
    <pre>内容:<%= @post.content %></pre>
  </div>
    <%= f.hidden_field :title%>
    <%= f.hidden_field :content%>
  <div class="form_group">
    <%= f.label :img_path%>
    <%= f.hidden_field :img_path %>
  </div>
  <div class="form-group img_field">
    <%= image_tag(@post.img_path.url,class:"post_area_img") if @post.img_path && @post.img_path.url %>
  </div>
    <%= f.hidden_field :img_path_cache %>

    <%= f.submit "登録",class:"btn btn-default btn-xs"%>
    <p class="btn btn-default btn-xs" onclick="btnClick();">戻る</p>
  <% end %>

  <%= form_with(model: @post , local: true , method: 'get' , url: new_post_path ,class:"hidden_filed") do |f|%>
    <%= f.hidden_field :title%>
    <%= f.hidden_field :content%>
    <%= f.hidden_field :img_path_cache %>

    <%= f.submit '戻る', name: 'back', id:"backBtn" ,class:"btn btn-default btn-xs"%>
  <% end %>
</div>