<%= form_with(model:@post , local:true ,url: posts_path) do |f|%>

  <p>タイトル:<%= @post.title %></p>
  <p>内容:<%= @post.content %></p>
  <%= f.hidden_field :title%>
  <%= f.hidden_field :content%>

  <%= image_tag(@post.img_path.url) if @post.img_path && @post.img_path.url %>
  <%= f.hidden_field :img_path_cache %>

  <%= f.submit %>

<% end %>

<%= form_with(model: @post , local: true , method: 'get' , url: new_post_path) do |f|%>
  <%= f.hidden_field :title%>
  <%= f.hidden_field :content%>
  <%= f.hidden_field :img_path_cache %>

  <%= f.submit '戻る', name: 'back'%>
<% end %>