<div class="post_top">
  <%= link_to '新規投稿' , new_post_path ,class:"btn btn-default"%>
  <%=link_to 'お気に入り絞り込み表示' , post_path(current_user.id) ,class:"btn btn-default"%>
</div>
  <div class="row post_list">
    <% @posts.each do |post| %>
    <div class="col-md-6">
      <div class="post_area">
        <div class="post_area_top">
          <p class="post_title">タイトル:<%= post.title%></p>
          <p class="post_name">投稿者:<%= post.user.name%></p>
        </div>
        <div class="post_area_main row">
          <div class="col-xs-6">
            <pre class="post_content"><%= post.content%></pre>
          </div>
          <div class="col-xs-6">
          <%# 画像URLない場合は設定しない %>
            <% if post.img_path.presence %>
              <%= image_tag("#{post.img_path}",class:"post_area_img")%>
            <% end %>
          </div>
        </div>
        <div class="post_area_bottom">
          <%if current_user.present? %>
            <% if current_user.name != post.user.name %>
              <div class="post_area_bottom_left">
                <% @favorite = current_user.favorites.find_by(post_id: post.id) %>
                <% if @favorite.present? %>
                  <%= link_to 'お気に入り解除' , favorite_path(id: @favorite.id) , method: :delete %>
                <% else %>
                  <%= link_to 'お気に入り登録' , favorites_path(post_id: post.id) , method: :post %>
                <% end %>
              </div>
            <% end %>
            <% if current_user.name == post.user.name %>
              <div class="post_area_bottom_right">
                  <%= link_to '編集' , edit_post_path(post.id)%>
                  <%= link_to '削除' , post_path(post.id) ,method: :delete , data:{confirm: '本当に削除していいですか？' }%>
              </div>
            <% end %>
          <% end %>
        </div>
       </div>
    </div>
    <% end %>
  </div>