

<%= link_to '新規作成' , new_post_path%>
<% @posts.each do |post|%>
  <p>タイトル:<%= post.title%></p>
  <p>名前:<%= post.user.name%></p>
  
  <%# current_userと投稿者が同じ場合のみ、編集・削除のリンクを表示する %>
  <% if current_user.name == post.user.name %>
    <%= link_to '編集' , edit_post_path(post.id)%>
    <%= link_to '削除' , post_path(post.id) ,method: :delete , data:{confirm: '本当に削除していいですか？' }%>
  <% end %>


<% end %>
