<%=link_to '一覧へ' , posts_path ,class:"btn btn-default show_btn"%>
<h1>お気に入り一覧</h1>
  <div class="row post_list">
    <% @posts.each do |post| %>
    <div class="col-md-6">
      <div class="post_area">
        <div class="post_area_top">
          <p class="post_title">タイトル:<%= post.title%></p>
          <p class="post_name">投稿者:<%= post.user.name%></p>
        </div>
        <div class="post_area_main row">
          <div class="col-xs-6">
            <pre class="post_content"><%= post.content%></pre>
          </div>
          <div class="col-xs-6">
          <%# 画像URLない場合は設定しない %>
            <% if post.img_path.presence %>
              <%= image_tag("#{post.img_path}",class:"post_area_img")%>
            <% end %>
          </div>
        </div>
        <div class="post_area_bottom">
          <%if current_user.present? %>
              <div class="post_area_bottom_left">
                <% @favorite = current_user.favorites.find_by(post_id: post.id) %>
                <% if @favorite.present? %>
                  <%= link_to 'お気に入り解除' , favorite_path(id: @favorite.id) , method: :delete %>
                <% end %>
              </div>
          <% end %>
        </div>
       </div>
    </div>
    <% end %>
  </div>